<% provide(:title, 'Home') %>
<div id="wizard">
					<div id="wiz_desc">
						<h2 class="offset_heading">The Project Wizard</h2>
						<p>
							Want an easy, sure-fire way of selecting components and parts 
							for your next build? Welcome to the Project Wizard! Quickly and 
							easily work your way through the steps and feel confident that 
							you&#39re making the right choices in component selection. What 
							happens when you&#39re all done? The project wizard will search 
							and find all the best prices on the internet, and get you started 
							with an accurate shopping list that is custom made just for you!
						</p> 
					</div> <!-- Closes the wiz_desc div -->
					<%= link_to (image_tag("more_info_button.png", :alt => "Project Wizard Info")), root_path, id: "more_info" %>
					
				</div> <!-- Closes the wizard div -->
				<div id="column1">
					<h3>Reviews and Comments</h3>
					<ul>
						<li class="post">
							<a href="reviews.html"><h5 class="post_title">This week I flew the new Rails 710 FBL blades</h5></a>
							<h5 class="post_text">
							All I can say is &#34WOW&#34! Super responsive with lots of pop.
							I&#39ve tried several different high&#45end blades on my new
							Miniature Aircraft Whiplash and these seem to be the best choice so far.
							A friend of mine&#46&#46&#46
							</h5>
						</li>
						<li class="post">
							<h5 class="post_title">This week I flew the new Rails 710 FBL blades</h5>
							<h5 class="post_text">
							All I can say is &#34WOW&#34! Super responsive with lots of pop.
							I&#39ve tried several different high&#45end blades on my new
							Miniature Aircraft Whiplash and these seem to be the best choice so far.
							A friend of mine&#46&#46&#46
							</h5>
						</li>
						<li class="post">
							<h5 class="post_title">This week I flew the new Rails 710 FBL blades</h5>
							<h5 class="post_text">
							All I can say is &#34WOW&#34! Super responsive with lots of pop.
							I&#39ve tried several different high&#45end blades on my new
							Miniature Aircraft Whiplash and these seem to be the best choice so far.
							A friend of mine&#46&#46&#46
							</h5>
						</li>
						<li class="post">
							<h5 class="post_title">This week I flew the new Rails 710 FBL blades</h5>
							<h5 class="post_text">
							All I can say is &#34WOW&#34! Super responsive with lots of pop.
							I&#39ve tried several different high&#45end blades on my new
							Miniature Aircraft Whiplash and these seem to be the best choice so far.
							A friend of mine&#46&#46&#46
							</h5>
						</li>
					</ul>
				</div>
				<div id="column2">
					<h3>For Sale &#47 Wanted</h3>
					<ul> 
						<li class="post">
							<a href="classifieds.html"><h5 class="post_title">For Sale &#45 YS 91SR w&#47 Hatori SB&#45 19H &#45 $375.00</h5></a>
							<h5 class="post_text">
							Motor has approx. 4 gallons through it. Great compression,
							and no lean runs. The Hatori is perfect except for a small
							scratch on the underside from an autorotation that was a little rough&#46&#46&#46
							</h5>
						</li>
						<li class="post">
							<h5 class="post_title">For Sale &#45 YS 91SR w&#47 Hatori SB&#45 19H &#45 $375.00</h5>
							<h5 class="post_text">
							Motor has approx. 4 gallons through it. Great compression,
							and no lean runs. The Hatori is perfect except for a small
							scratch on the underside from an autorotation that was a little rough&#46&#46&#46
							</h5>
						</li>
						<li class="post">
							<h5 class="post_title">For Sale &#45 YS 91SR w&#47 Hatori SB&#45 19H &#45 $375.00</h5>
							<h5 class="post_text">
							Motor has approx. 4 gallons through it. Great compression,
							and no lean runs. The Hatori is perfect except for a small
							scratch on the underside from an autorotation that was a little rough&#46&#46&#46
							</h5>
						</li>
						<li class="post">
							<h5 class="post_title">For Sale &#45 YS 91SR w&#47 Hatori SB&#45 19H &#45 $375.00</h5>
							<h5 class="post_text">
							Motor has approx. 4 gallons through it. Great compression,
							and no lean runs. The Hatori is perfect except for a small
							scratch on the underside from an autorotation that was a little rough&#46&#46&#46
							</h5>
						</li>
						
					</ul>
				</div>