<div class="pt">
<h2><b>Terms of Use</b></h2>
<hr>
<p><b>Proprietary Rights</b></p>

<p>All material contained in this website is proprietary and is protected by law, including United States copyright law. Except as indicated, iHeliWorkbench.com is the owner of this content. All Rights Reserved. All materials are protected by copyright and may not be republished or printed for copying or redistribution without the express written permission of the owner of the site. For questions or requests for permission, please contact us at info@iHeliWorkbench.com.</p>

<p>iHeliWorkbench owns all trademarks and service marks appearing on the website. The unauthorized use or misuse of these trademarks and service marks is prohibited.</p>

<p><b>Your Communications to the Web Site</b></p>

<p>By forwarding any communications to us through this website or by other electronic means, you thereby grant iHeliWorkbench a royalty-free, perpetual, irrevocable, non-exclusive license to use, reproduce, modify, adapt, publish, translate, create derivative works from, redistribute, and display such communications in any form. Furthermore, iHeliWorkbench may use any suggestions contained in or resulting from such communications. iHeliWorkbench cannot be responsible and shall not be liable for the contents of communications to the website by visitors or persons other than our employees.</p>
</div>
<hr>