// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.row	h2{
	background-color: red;
	padding: 20px;
	color: white;
	margin: 5px;
}
*/
