


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #bcbcbc;
$grayLighter: e9e9e9;
$gray: gray;
$grayDarker: #7f7f7f;
$white: #ffffff;
$black: #000000;
$darkblue: #339bb9;
$darkestblue: #257085;
$lightblue: #3299bb;
$blue-gradient: linear-gradient(top, $lightblue, $darkblue);

@mixin box_sizing	{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  margin: 0 auto;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #7f7f7f;
}



h5, h3	{

	color: #7f7f7f;
	margin: 10px;
	margin-top: 7px;
	text-align: center; 

}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: 0px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  margin-left: 30px;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.hero-unit	{
	
	width: 60%;
	
	/*---- drop shadow and inner shadow code ----*/
	box-shadow: inset 0px 1px 2px #e9e9e9;
	box-shadow: 0px 1px 2px #e9e9e9;
	
	/*---- box gradients and border radii code ----*/
	background-image: -moz-linear-gradient(50% 100%, white, #f4f4f4);
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, from(white), to(#f4f4f4));
	border: 1px solid #e9e9e9;
	border-radius: 5px;

}

.btn-primary	{
	border: 1px solid white;
	background-image: none;
	background-color: orange;
	&:hover	{
		background-color: #ff9900;
	}

}

.debug_dump	{

	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box-sizing;

}
