<!--
<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
-->

<div id="footer">
				<div id="footer_links">					
					<div><a href="index.html">home</a></div>
					<div><a href="#">login/register</a></div>
					<div><a href="#">my account</a></div>
					<div><a href="#">support</a></div>
					<div><a href="#">faq</a></div>
					<div><a href="#">sitemap</a></div>
					<div><a href="#">terms of use</a></div>
					<div><a href="#">privacy policy</a></div>
				</div>
				<p>Copyright &copy 2012 Harris Interactive Design</p>
			</div>