<div id="footer">
	<div id="footer_links">					
		<div><%= link_to "Home", root_path %></div>
		<div><%= link_to "Login / Register", signin_path %></div>
		<div><%= link_to "Privacy Policy", privacy_path %></div>
		<div><%= link_to "Terms of Use", terms_path %></div>
	</div>
	<p>Copyright &copy 2012 Harris Interactive Design</p>
</div>